@{
    ViewBag.Title = "Page Not Found!";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @*<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">*@
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>EGV | Page Not Found!</title>
    <link href="~/Images/EGV/glass.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Google font -->
    <link href='~/fonts/glyphicons-halflings-regular.eot' rel='stylesheet' type='text/css'>
    <!-- Custom stlylesheet -->  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">*@

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/notfounderror_style.css" />

</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Page not found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            @*<a href="#">home page</a>*@
            <button type="button" class="btn btn-outline btn-rounded btn-primary" onclick="location.href = '@Url.Action("Home_Index", "Home")'"> Return to Home</button>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
