@using System.Configuration;
<div class="fixed footer">
    <div class="pull-right">
        ©&nbsp;@DateTime.Now.Year @ConfigurationManager.AppSettings["CompanyName"] Limited. All rights reserved.
    </div>
    <div>
        Version: 1.0.0.0
    </div>
</div>
